.meeting-schedule {
  width: 100%;
  .display {
    font-size: 16px;
    font-weight: 400;
    color: $content-color;
    text-align: right;
    padding: 1rem;
    margin: 0;
  }
  &__cardwrapper{
    width:75%;
    .meeting-schedule__card {
      border-radius: 14px;
      background: #fff;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    }
  }
  &__header {
    border-bottom: 1px solid #cacaca;
    ul {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      li {
        list-style: none;
        margin: 18px 18px 0px 18px;
        padding-bottom: 12px;
        cursor: pointer;
        &.active {
          border-bottom: 3px solid $primary-color;
          color: $primary-color;
        }
      }
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    padding: 20px;
    .events-table{
      width: 100%;
      border-collapse: collapse;
      thead{
        th{
          background-color: #f2f2f2;
          text-align: left;
          padding: 12px;
        }
      }
      tbody{
        .participant{
          .badges{
            width: fit-content;
            padding:4px;
          }
          .tooltips{
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
            &:hover{
              .tooltipemail{
                visibility: visible;
              }
            }
            .tooltipemail{
              visibility: hidden;
              width: 120px;
              background-color: black;
              color: #fff;
              text-align: center;
              border-radius: 6px;
              padding: 5px 0;

              /* Position the tooltip */
              position: absolute;
              z-index: 1;
            }
          }
        }
        tr{
          &:hover{
            background-color: #e2e2e2;
          }
          td{
            padding:10px;
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
    img {
      width: 90px;
      margin-bottom: 25px;
    }
    h5 {
      font-weight: 600;
      font-size: 19px;
      margin-bottom: 17px;
    }
  }
}
.calender-sidebar {
  position: fixed;
  right: 0;
  height: 100%;
  top: 55px;
  z-index: 9;
  width:25%;
  &__main {
    background-color: #f8f3ef;
    padding: 46px 20px 20px 20px;
    height: 100%;
    text-align: center;
    h2 {
      color: #126fd6;
      font-size: 22px;
    }
    .calender-img {
      opacity: 0.6;
    }
    img {
      max-width: 100%;
      margin: 12px 0px 42px 0px;
    }
    &--btn {
      .google {
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.1);
        padding: 14px 0px;
        width: 100%;
        max-width:270px;
        border-radius: 8px;
        font-weight: 400;
        color: $content-color;
        font-size: 15px;
        cursor: pointer;
        margin-bottom: 18px;
        > img {
          margin: 0;
          margin-right: 10px;
          width: 24px;
        }
        > svg {
          margin-right: 10px;
        }
      }
    }
    ul {
      padding-inline-start: initial;
      margin-top: 20px;
      li {
        list-style: none;
        display: flex;
        align-items: flex-start;
        line-height: 24px;
        margin-bottom: 10px;
        color: #717171;
        img {
          width: 16px;
          margin-right: 8px;
        }
      }
    }
  }
}
